* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Admins {
    overflow-x: hiden;
}

.containers {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background: #03a9f4;
}

.navigation ul li:nth-child(1) {
    margin-top: 20px;
    font-weight: 800;
}

.navigation ul li:nth-child(1):hover {
    background: transparent;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa {
    color: #fff;
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

/* ----------------- main ---------------- */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar {
    width: 100%;
    background: #fff;
    height: 60px;
    /* padding: 0 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #f000;
    cursor: pointer;
}

.toggle::before {
    content: "\f0c9";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}

.main .user {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
}

.main .user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    border-radius: 50%;
}

.search {
    position: relative;
    /* margin: 0 10px; */
}


.search label {
    position: relative;
    width: 100%;
}

 .search label input {
    max-width: 250px;
    width: 100%;
    height: 30px;
    border-radius: 40px;
    /* padding: 5px 20px; */
    padding-left: 35px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
} 


.search label .fa {
    position: absolute;
    left: 15px;
    top: 4px;
} 


/* --------------------menu---------------- */
.menu {
    position: absolute;
    top: 70px;
    right: 5px;
    padding: 10px 10px;
    background: #003147;
    width: 180px;
    z-index: 1;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.menu.active {
    visibility: visible;
    opacity: 1;
}

.menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 25px;
    width: 20px;
    height: 20px;
    background: #003147;
    transform: rotate(45deg);
}

.menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}

.menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.menu ul li:hover i {
   opacity: 1;
}

.menu ul li i {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

/* Administrators */

.Administrators__section {
    padding: 5px 5px;
}

.Administrators__section .admin__header{
    margin-top: 10px;
}

.Administrators__section .admin__header h3 {
    font-size: 1.2em;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.5);
}

.Administrators {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}
.Administrators .admin__card {
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    background: #fff;
    position: relative;
}

.Administrators__section .admin__card .options {
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.02);
    height: 30px;
}

.Administrators__section .admin__card .options .edit, .delete {
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.Administrators__section .admin__card .options .block {
    text-align: center;
}

.Administrators__section .admin__card .options i {
    font-size: 1.2em;
    cursor: pointer;
}

.Administrators__section .admin__card .options div:nth-child(1) {
    color: blue; 
}

.Administrators__section .admin__card .options div:nth-child(2) {
    color: red;
}

.Administrators__section .admin__card .options div:nth-child(3) {
    color: grey;
}
