@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap');

* {
    margin: 0;
    box-sizing: border-box; 
}


.SignUp__wrapper {
    width: 100%;
    height: 100vh;
    background-color: #0e1538;
    display: grid;
    place-items: center;
}

.signup__fields__wrapper {
    width: 350px;
    height: 450px;
    position: relative;
}

.signup__fields__wrapper input {
    color: black !important;
    font-family: 'Ubuntu', sans-serif;
    height: 45px;
}

.button__wrapper {
    width: 100%;
    margin-top: 10px;
}

.button__wrapper button {
    width: 100%;
}

.logo__wrapper {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.logo__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.institution__name {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.institution__name h4 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: wheat;
}

.signup__fields__wrapper hr {
    margin-top: 0;
    margin-bottom: 0;
}

.email__input, .password__input, .password__confirm__input {
    position: relative;
}

.signup__fields__wrapper svg {
    position: absolute;
    top: 14px;
    right: 5px;
    cursor: pointer;
}

.signup__fields__wrapper .yes {
    background-color: rgb(43, 41, 41);
    color: wheat;
    padding: 2px 5px;
    border-radius: 40%;
    cursor: pointer;
    text-decoration: none;
}

.signup__fields__wrapper .yes:hover {
    color: white;
}

.signup__fields__wrapper::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(3deg);
    background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
}

.signup__fields__wrapper::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(3deg);
    filter: blur(10px);
    background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
}

.signup__fields__wrapper > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e1538;
    z-index: 10;
}

.signup__fields__wrapper hr {
    background-color: violet;
}

.all__inputs__wrapper {
    padding: 10px 12px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 20px;
    background-color: wheat;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}
